// Header colors
$white: #FFF;
$headerGray: #A299BE;
$lightPurple: #3F217F;
$darkPurple: #18102E;

// About colors
$aboutGray: #989DAD;
$darkBlue: #07143A;
$iconPurple: #6633CC;
$borderGray: #eaecf1;

// Portfolio colors
$portfolioGray: #a0a4ae;
$portfolioGray2: #868a95;
$portfolioBorderGray: #eaecf1;

// Careers colors
$careersBorderGray: rgba(199, 200, 201, 0.6);
$careersGray: #c9cdd8;

// Blog colors
$blogBackground: #F7F8FB;
$blogGray: #a0a4ae;

// Social colors
$socialBorder: #EFF0F5;
$socialGray: #B6BBCE;

// Footer colors
$footerGray: #a7acbc;
$footerBorder: #EFF1F5;
$footerBlue: #0096FF;

// WIDTH
$width: 63%;
